# SearXNG MCP server configuration
SEARXNG_ARGS=-searxng-url=http://127.0.0.1:8080 -language=all -safesearch=2 -min-score=0.3 -limit=5 -engines=bing,google,duckduckgo -engines-rotate -ratelimit=1/15
LIGHTPANDA_ARGS=--cookie "/tmp/lightpanda-cookie.file" --cookie-jar "/tmp/lightpanda-cookie.file" --disable-subframes --disable-workers --http-cache-dir /tmp/lightpanda-http-cache --http-max-response-size 33554432 --http-timeout 30000 --storage-engine sqlite --storage-sqlite-path ":memory:"